/SociallyMinded/nbproject/private/
/SociallyMinded/SociallyMinded-war/nbproject/private/
/SociallyMinded/SociallyMinded-ejb/nbproject/private/
/SociallyMinded-library/nbproject/private/
/SociallyMinded/SociallyMinded-ejb/build/
/SociallyMinded-library/dist/
/SociallyMinded-library/build/
/SociallyMinded/SociallyMinded-ejb/dist/
/SociallyMinded/build/
/SociallyMinded/dist/
/SociallyMinded/SociallyMinded-war/build/
/SociallyMinded/SociallyMinded-war/dist/
